<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Off System: Connect to a Peer</title>
  <link rel="stylesheet" href="../../stylesheets/index.css">
  <link rel="stylesheet" href="../../stylesheets/bulma.css"/>
  <link rel="stylesheet" href="../../stylesheets/font-awesome.css"/>
  <link rel="image_src" href="/images/off-logo.gif"/>
</head>
<script>
  const ipcRenderer = require('electron').ipcRenderer
</script>

<body style="overflow:hidden;">
  <div id="app" style="overflow:hidden;"></div>
  <script src="index.js"></script>
</body>
</html>
