@font-face {
    font-Family: Odin;
    src: url('../font/Odin%20Rounded%20-%20Bold.otf');
}

html, body, #container, #dropzone {
    height: 100%;
    width: 100%;
}

body {
    font-family: Odin;
    margin: 0;
    overflow: hidden;
}

h1, h2, h3 {
    display: flex;
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-weight: inherit;
}

#dropzone {
    font-family: Odin;
    background-color: #edf0f2;
    padding: 0;
    display: flex;
    border-color: #878787;
    border-style: dotted;
    border-width: 10px;
    color: #878787;
    font-family: Odin;
    align-self: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.textbox {
    display: inline-block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0;
    outline: 0;
    height: 25px;
    width: 60%;
    padding: 15px 32px;
    margin: 0px;
}

#container {
    background-color: #313181;
}

.button {
    font-family: Odin;
    background-color: #fa392a; /* Green */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color: white;
    padding: 16px 32px 19px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    height: 55px;
}

.resolver {
    margin: 20px;
}

#billboard {
    flex: 1 0 auto;
}

.upload {
    width: 208px;
    height: 208px;
    margin: 0 auto 3px auto;
}