<!DOCTYPE html>
<html lang="en" style="overflow: hidden !important;">
<head>
  <meta charset="UTF-8">
  <title>Off System Update</title>
  <link rel="stylesheet" href="../../stylesheets/index.css">
  <link rel="stylesheet" href="../../stylesheets/bulma.css"/>
  <link rel="stylesheet" href="../../stylesheets/font-awesome.css"/>
  <link rel="image_src" href="/images/off-logo.gif"/>
</head>
<script>
  const ipcRenderer = require('electron').ipcRenderer
  const Updator = require('../../../updator').rendererUpdator
</script>

<body style="overflow: hidden !important;">
  <div id="app" style="overflow:hidden;"></div>
  <script src="index.js"></script>
</body>
</html>
