<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Off System: Importer</title>
  <link rel="stylesheet" href="../../stylesheets/index.css">
  <link rel="stylesheet" href="../../stylesheets/progressjs.css">
  <link rel="stylesheet" href="../../stylesheets/bulma.css"/>
  <link rel="stylesheet" href="../../stylesheets/font-awesome.css"/>
  <link rel="image_src" href="/images/off-logo.gif"/>
</head>

<body style="overflow:hidden;">
  <div id="app" style="overflow:hidden;"></div>
  <script src="../../scripts/progress.js"></script>
  <script src="index.js"></script>
</body>
<style>
  html {
    overflow: hidden;
  }
</style>
</html>
